<div class="form-container">
  <h2>Registrar Queja</h2>
  <form (ngSubmit)="submitComplaint()">
    <label for="id">ID:</label>
    <input type="number" id="id" [(ngModel)]="complaint.Id" name="id" required>

    <label for="subject">Asunto:</label>
    <input type="text" id="subject" [(ngModel)]="complaint.Title" name="subject" required>

    <label for="description">Descripción:</label>
    <textarea id="description" [(ngModel)]="complaint.Content" name="description" required></textarea>

    <button type="submit">Enviar Queja</button>
  </form>
  <button> <a href="/list">Lista</a></button>
</div>